header {
    background-color: rgb(84, 138, 201);
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    color: var(--color-light);
    font-size: 1.5em;
}

/* HERO */
.section-hero {
    height: 35em;
    background: linear-gradient(
      rgba(0, 0, 0, 0.356), 
      rgba(0, 0, 0, 0.356)
    ),url(./../img/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-hero h1 {
    color: var(--color-light);
    font-size: 3em;
}

/* DISCOVER */
.section-people {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.section-people div {
    align-self: center;
}

.section-people h2{
    font-size: 2em;
    text-align: center;
}

.search-bar {
    border: 1px solid gray;
    width: 12em;
    padding-left: 1em;
    border-radius: 1em;
}

/* RESULTS */
.section-results {
    display: grid;
    margin-top: 2em;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.section-results div {
    display: grid;
    gap: 1em;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.section-results img{
    height: 10em;
    width: 10em;
    border-radius: 5em;
}

.section-results h5{
    font-size: 1em;
}

.section-results h6{
    font-size: 0.8em;
}

.button-view {
    background-color:rgb(84, 138, 201);
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* PAGINATION */
.section-pagination {
    margin-top: 2em;
    text-align: center;
}

.page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.page-numbers div {
    height: 2em;
    width: 2em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(84, 138, 201);
    color: var(--color-light);
    margin: 0 0.5em;
}

/* INFO */
.section-info {
    background-color: rgb(199, 199, 199);
    height: 13em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-info h5 {
    font-size: 1.2em;
}

.section-info a {
    display: block;
}

/* USER DETAILS */
.user-details div {
    display: grid;
    gap: 1em;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.user-details img{
    height: 15em;
    width: 15em;
    border-radius: 7.5em;
}

.user-details h5{
    font-size: 1em;
}

.user-details h6{
    font-size: 0.8em;
}

/* FOOTER */
footer {
    background-color: rgb(84, 138, 201);
    height: 4em;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: var(--color-light);
}
  